---
layout: archive
title: "Running"
permalink: /runs/
author_profile: true
---

{% include base_path %}


<style>
p.double {border-style: double; border-color: yellow; border-width: 3px; width:100%; padding: 2px}
.center {
   text-align: center;
}

div.container {
  display:inline-block;

}

</style>

This is where I post all the races I do! It goes from an easy 5k to 100k+. I have (more or less painful) memories from all of them :D 

<br>

<img src="../images/running/stats/calendar_2026.png" alt="Running calendar for the current year" class="center">

<br>

<div class="center">
    <div class="container">
      <img src="../images/running/stats/Compare_distance_year.png" width="460"/>
    </div>
    <div class="container">
      <img src="../images/running/stats/pace_evolution.png" width="460"/>
    </div>
    <div class="container">
      <img src="../images/running/stats/runtype_2026.png" width="440"/>
    </div>
</div>

<br>

<!-- <img src="../images/running/stats/Compare_distance_year.png" alt="Year - to - year running distance comparison" class="center" width="500"> -->

<div class="center">
    <div class="container">
      <p class="double"> &nbsp;Races (sub21k): 6 </p>
    </div>

    <div class="container">
      <p class="double"> &nbsp;Marathons: 7</p> 
    </div>
    <div class="container">
      <p class="double"> &nbsp;Races (Half Marathon to 30k): 14</p>
    </div>
</div>

<div class="center">
    <div class="container">
      <p class="double"> &nbsp;Ultra-Marathons (sub 100k): 10</p>
    </div>
    <div class="container">
      <p class="double"> &nbsp;Ultra-Marathons (over 100k): 1</p>
    </div>
</div>

{% for post in site.runs reversed %}
  {% include archive-single-run.html %}
{% endfor %}
