---
layout: archive
title: "Running"
permalink: /runs/
author_profile: true
---

{% include base_path %}


<style>
p.double {border-style: double; border-color: yellow; border-width: 3px; width:30%; padding: 2px}
</style>

This is where I post all the races I do! It goes from an easy 5k to 100k+. I have (more or less painful) memories from all of them :D 

<br>

<img src="../images/running/stats/calendar_2026.png" alt="Running calendar for the current year" class="center">

<br>

<p class="double"> &nbsp;Races (sub21k): 5 </p>
<p class="double"> &nbsp;Races (Half Marathon to 30k): 13</p>
<p class="double"> &nbsp;Marathons: 7</p>
<p class="double"> &nbsp;Ultra-Marathons (sub 100k): 10</p>
<p class="double"> &nbsp;Ultra-Marathons (over 100k): 1</p>

{% for post in site.runs reversed %}
  {% include archive-single-run.html %}
{% endfor %}
